@import 'bulma';

body{
	background: grey;
	padding: 30px;
	display: flex;
	justify-content: center;
}

form{
	margin-bottom: 20px;
}

.container {
	width: 500px;
	background: white;
	padding: 30px;
	margin: 20px;
}

.error-text {
	color:red;
}

.input {
	border-left: 5px solid red;
}

.input-pass {
	border-left: 5px solid black;
}

// .button {
// 	width: 180px;
// 	height: 80px;
// }

.contact-us{
	font-weight: bold;
	font-size: 30pt;
}

.label {
	font-size: 25pt;
}

.contact-block {
	padding: 10px;
	border: 2px solid lightgreen;
	margin-bottom: 5px;
	overflow: hidden;
	min-height: 250px;
}

li {
	display: inline-block;
	width: 50%;
	padding: 2%;
	vertical-align: top;

}

.category {
	font-weight: bold;
}

.contact-param{
	padding-bottom: 5px;
}

.delete-container{
	display: inline;
	vertical-align: bottom;
}

.list-title{
	padding-top: 20px;
	border-top: 10px solid black;
		font-weight: bold;
	font-size: 30pt;

}